*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;  
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container{
    align-items: center;
    width: 350px;
    background-color: #1a1a1a;
    border-radius: 15px;
    text-align: center;
}

.container .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit:cover;
    margin-bottom:20px
}

.container .buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .buttons .button{
    background-color: #007bff;
    color: white;
   padding: 10px;
   border-radius: 8px;
   text-decoration: none;
   font-weight: bold;
   transition: background-color 0.3s;
}
.container .buttons .button:hover{
    background-color: #0056b3;
    color: #1a1a1a;
}